body{
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-weight: bold;
    
}

.banner-container{
    background-color: #AD9F92;
}

.banner-column{
    background-color: #938E94;
}
.nav-color{
    background-color: #7395AE;
    position: sticky;
    top: 0%;
    z-index: 2;
}
.about-container{
    background-color: #A5B0FF;
}
.edu-color{
    background-color: #6E7A93;
}
.circle{
    width: 150px;
    height: 150px;
    background-color: #96848D;
    border-radius: 50%;
}
.box-color{
    background-color:#9199A1;
}
.project-container{
    background-color: #CCCBC7;
}

.img{
    height: 300px;
    width: 240px;
}
.form-container{
    background-color: #68829E;
}
.inner-form{
    background-color: #6E7A93;
}
.btn-color{
    background-color: #956749;
    color: white;
}
.btn-color:hover{
    background-color: #956749;
    color: black;
}

.footer{
    background-color: #BCBABE;
}
.circle-f{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    background-color: #8366B4;
    font-size: 40px;
    color: #041A65;
}